.block {
    border-radius: 23px;
    background-color: #121212;
    border-color: transparent;
    border-style: solid;
    font-family: 'M_Ying_Hei';
    min-width: 560px;
    max-width: 560px;
    min-height: 400px;
    height: fit-content;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    min-height: 250px;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    cursor: default;
    padding-bottom: 15px;
}

.title {
    color: white;
    font-size: 28px;
    margin: 42px 37px 42px;
    text-align: left;
    line-height: 1.4;
    cursor: default;
}

.lesson_block {
    display: flex;
    box-sizing: border-box;
    height: fit-content;

    background: #212121;
    border-radius: 13px;
    margin-bottom: 15px;
    margin: 0px 20px 15px 20px;
    cursor: default;
}

.ver_hr {
    width: 2px;
    height: 75px;
    margin: auto 5px auto 20px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    /* transform: rotate(90deg); */
}

.hor_hr {
    width: 54px;
    height: 1px;
    left: 17px;
    top: 54px;
    margin: 8px 0px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.lesson_date_block {
    /* margin: auto; */
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lesson_date {
    width: 38px;
    height: 18px;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: rgba(255, 255, 255);
}

.lesson_description_block {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 10px 15px;
}

.lesson {
    display: flex;
    /*padding-top: 10px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.lesson > div {
    /* width: 317px; */
    /*height: 34px;*/
    height: fit-content;

    display: flex;
    align-items: center;

    font-family: 'M_Ying_Hei';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.lesson.secondary > div {
    color: rgba(255, 255, 255, 0.7);
}

.lesson > img {
    margin-right: 12px;
}

.day {
    height: fit-content;

    background: #171717;
    border-radius: 10px;
    color: rgba(255, 255, 255);
    font-family: 'M_Ying_Hei';
    margin: 30px 15px 0px 15px;
    padding-bottom: 5px;
}

.day_title {
    padding: 25px 20px 30px 30px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.day_date {
    padding-top: 6px;
    font-size: 15px;
    width: 100%;
    text-align: right;
    margin-right: 10px;
}


/*.day > title {*/

/*}*/


@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
    url('M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}

.spinner {
    text-align: center;
    height: 18px;
    width: 18px;
    opacity: 0.7;
    /* margin-left: 265px;
    margin-top: 235px; */
    border-width: 3.5px;
    /* margin: auto; */
    margin-left: calc(50% - 9px);
    margin-top: 100px;
    margin-bottom: 200px;
}

@media (max-width: 600px) {
    .block {
        min-width: 92vw;
        width: 92vw;
        margin: 0 auto;
    }
    .title {
        margin: 30px 32px 50px;
        font-size: 24px;
    }
    .day {
        margin: 30px 8px 0px 8px;
        padding-bottom: 0px;
    }
    .lesson_block {
        margin: 0px 12px 15px 12px;
    }
    .lesson_date_block {
        margin: 0px 0px 0px 15px;
    }
    .ver_hr {
        margin: auto -2px auto 14px;
    }
    .day_title {
        padding: 30px 20px 30px 27px;
        font-size: 17px;
    }
    .day_date {
        font-size: 14px;
        padding-top: 3px;
    }
}