@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes glitter {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    25% {
        transform: scale(1.6);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 0;
    }
    75% {
        transform: scale(1.6);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

.space {
    position: absolute;
    height: 120vw;
    width: 120vw;
    left: -10vw;
    top: -10vh;
    clip: rect(auto, auto, auto, auto);
    /*clip-path: inset(0px 0px 200px 200px);*/
    transform-origin: 50% 50%;
    overflow: visible;
    animation: spin 5s linear 0s infinite normal;
    /*background-color: transparent;*/
    background-color: rebeccapurple;
    background-position: center center;
    z-index: -1000;
}

.star {
    position: absolute;
    width: 1.8px;
    height: 1.8px;
    border-radius: 50%;
    background: #999;
    opacity: 0;
    animation: glitter 8s ease-in 0s infinite normal;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
    .space {
        height: 1200px;
        width: 1200px;
        left: -100px;
        top: -100px;
    }
}
