.controller {
    display: flex;
    flex-direction: row;
}

.block {
    width: 245px;
    height: 43px;
    position: absolute;
    margin-left: 292px;
    margin-top: -80px;
    background: #1a1a1a;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    transition: all 0.1s ease-in-out;
}

.block.date_selector {
    padding-right: 14px;
    z-index: 5;

}


.calendar {
    position: absolute;
    height: fit-content;
    width: 245px;
    margin-left:  292px;
    margin-top: -50px;
    padding: 4px;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */

    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(25px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.month {
    width: 120px;
    text-align: center;
}

.days {
    color:rgba(255, 255, 255, 0.3);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.day {
    text-align: center;
    padding: 5px 6px;
}

.calendar_box {
    margin-bottom: 15px;
}

.table {
    width: 100%;
    height: 100%;
}

tbody {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

td.isNow {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255);
    cursor: pointer;
}

td {
    width: 28px;
    height: 28px;

    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;

    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    flex: none;
    order: 5;
    flex-grow: 0;
    border-radius: 15%;
}

td.isOk {
    color: rgba(255, 255, 255);
    cursor: pointer;
}


@media (pointer: fine) {
td.isOk:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}
}

.head {
    color: rgba(255, 255, 255);
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.arrow {
    width: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.passiveArrow {
    filter: opacity(.4);
}

.input {
    width: 45px;
    height: 17px;
    margin: auto 0px auto 15px;
    width: auto;
    height: 22px;
    background-color: transparent;
    border: none;

    font-family: 'M_Ying_Hei';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;
}
input:focus {
    outline: none;
}

.icon {
    width: 20px;
    margin-left: 16px;
}

.last_icon {
    width: 18px;
}
.last_icon.show {
    rotate: 180deg;
}



.text {
    width: 100%;
    height: 17px;
    margin: auto 0px auto 15px;

    font-family: 'M_Ying_Hei';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */




    color: rgba(255, 255, 255);
}

@media (max-width: 600px) {
    .block {
        width: 245px;
        height: 43px;
        position: absolute;
        right: 8px;
        margin-top: -77px;
        background: #1a1a1a;
        border-radius: 9px;
        display: flex;
        flex-direction: row;
        transition: all 0.1s ease-in-out;
    }

    .calendar {
        margin: 0;
        right: 8px;
        margin-top: -44px;
        align-items: right;
        justify-content: right;
    } 
}

@media (max-width: 500px) {
    .block {
        right: 0;
        width: 100%;
        height: 43px;
        position: relative;
        margin: 0 27px -5px 27px;
    }

    .calendar {
        right: 0;
        left: 0;
        position: absolute;
        height: fit-content;
        width: calc(100% - 54px);
        margin: 40px auto 0 auto;
    } 

    .days {
        color:rgba(255, 255, 255, 0.3);
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .calendar_box {
        width: 85%;
        margin-bottom: 4vw;
    }

    .head {
        color: rgba(255, 255, 255);
        display: flex;
        margin-top: 30px;
        margin-bottom: 27px;
    }

    .calendar_date_pool {
        border-top: 10px solid transparent;
    }

}

@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
    url('M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}


