.status0 {
    /*Не отправлено*/
    background-color: lightslategrey;
}
.status1 {
    /*Просрочено*/
    background-color: lightcoral;
}
.status2 {
    /*В проверке*/
    background-color: lightskyblue;
}
.status3 {
    /*На доработке*/
    background-color: lightgoldenrodyellow;
}
.status4 {
    /*Выполнено*/
    background-color: lightgreen;
}

.ListGroup {
    margin: 2px 0;
    border: 2px solid gray;
    display: flex;
}

.status {
    border-radius: 10px;
    border: 1px solid white;
    padding: 0 6px;
    margin: 0 6px;
    background-color: #3b3d44;
    color: whitesmoke;
}

.deadline {
    border-radius: 10px;
    border: 1px solid white;
    padding: 0 6px;
    margin: 0 6px;
    background-color: #1b3233;
    color: whitesmoke;
}

.number {
    border-radius: 10px;
    border: 1px solid white;
    padding: 0 6px;
    margin: 0 6px;
    background-color: #3b3d44;
    color: whitesmoke;
}

.all {
    border-radius: 10px;
    border: 1px solid white;
    padding: 0 6px;
    margin: 0 6px;
    background-color: #1b2234;
    color: whitesmoke;
}