.duty_materials_block {
    margin-bottom: 10px;
}


.duty_materials_title {
    color: white;
    font-size: 24px;
    margin: 40px 37px 40px;
    text-align: left;
    user-select: none;
    cursor: default;
}

.duty_materials_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.duty_materials_item {
    font-family: 'M_Ying_Hei';
    color: #c4c4c4;
    font-size: 16px;
    line-height: 1.55;
    text-align: left;

    background-color: #1c1c1c;

    min-height: 60px;
    height: fit-content;
    margin: 0px 20px 10px 20px;
    padding-left: 8px;

    border-color: transparent;
    border-style: solid;
    border-radius: 12px;

    /*cursor: pointer;*/
    text-decoration: none;

    display: flex;
}

.duty_materials_icon {
    width: 36px;
    height: 36px;
    opacity: 0.6;
    margin: auto;
}

.duty_materials_file_name {
    font-size: 14px;
    width: 400px;
    margin: auto;
    margin-left: 10px;
    word-break: break-all;
}

.duty_materials_preview_button {
    width: 36px;
    height: 36px;
    opacity: 0.5;
    margin: auto 5px;
    cursor: pointer;
}

.duty_materials_download_button {
    width: 38px;
    height: 38px;
    opacity: 0.7;
    margin: auto 15px auto 10px;
    cursor: pointer;
    border-radius: 7px;
    border: 7px solid transparent;
    transition: all 0.1s ease-in-out;
}

@media (pointer: fine) {
    .duty_materials_download_button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}


.duty_materials_download_button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 600px) {
    .duty_materials_title {
        font-size: 20px;
        margin: 35px 32px 37px;
    }

    .duty_materials_item {
        margin: 0px 15px 10px 15px;
    }

    .duty_materials_block {
        margin-bottom: 20px;
    }
}