.duty_materials_block {
    margin-bottom: 10px;
}


.duty_materials_title {
    color: white;
    font-size: 24px;
    margin: 40px 37px 40px;
    text-align: left;
}

.duty_materials_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.duty_materials_item {
    font-family: 'M_Ying_Hei';
    color: #c4c4c4;
    font-size: 16px;
    line-height: 1.55;
    text-align: left;

    background-color: #1c1c1c;

    height: 60px;
    margin: 0px 20px 10px 20px;
    padding-left: 8px;

    border-color: transparent;
    border-style: solid;
    border-radius: 12px;

    /*cursor: pointer;*/
    text-decoration: none;

    display: flex;
}

.duty_materials_icon {
    width: 36px;
    height: 36px;
    opacity: 0.5;
    margin: auto;
}

.duty_materials_file_name {
    font-size: 14px;
    width: 400px;
    margin: auto;
    margin-left: 10px;

}

.duty_materials_preview_button {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    margin: auto 5px;
    cursor: pointer;
}

.duty_materials_download_button {
    width: 36px;
    height: 36px;
    opacity: 0.5;
    margin: auto 15px auto 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 7px solid transparent;
}

.duty_materials_download_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.duty_materials_download_button:active {
    background-color: rgba(255, 255, 255, 0.3);
}