.duty_main_block {
    border-radius: 23px;
    background-color: #121212;
    border-color: transparent;
    border-style: solid;
    font-family: 'M_Ying_Hei';
    min-width: 560px;
    max-width: 560px;
    min-height: 500px;
    height: fit-content;
    text-align: left;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    margin: auto;
}

.duty_nav {
    display: flex;
}

.duty_back {
    width: 19px;
    height: 19px;
    margin: 51px 0px 0px 40px;
    cursor: pointer;
    
}

.duty_title {
    color: white;
    font-size: 26px;
    margin: 40px 17px 10px;
    text-align: left;
}

.duty_title:nth-child(3n+1) {
    color: white;
    font-size: 23px;
    margin: 45px 35px 10px;
    text-align: left;
}

.duty_files_list {
    width: 505px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin-left: calc(55px / 2);*/
    /*margin-right: calc(55px / 2);*/
    margin: 30px auto 0px auto;
    /*margin-top: 30px;*/
}

.duty_file {
    width: 150px;
    height: 180px;
    margin-bottom: 20px;

    color: #c4c4c4;
    border-radius: 23px;
    font-size: 12px;
    background-color: #1c1c1c;
    border-color: transparent;
    border-style: solid;
    font-family: 'M_Ying_Hei';

    text-align: center;
}

/*.duty_file:nth-child(3n+1) {*/
/*    !*margin-left: calc(55px / 2);*!*/
/*    !*margin-left: 0;*!*/
/*    !*margin-right: calc(55px / 4);*!*/

/*}*/

/*.duty_file:nth-child(3n+2) {*/
/*    !*margin-left: calc(55px / 4);*!*/
/*    !*margin-right: calc(55px / 4);*!*/
/*    color: green;*/
/*}*/

/*.duty_file:nth-child(3n) {*/
/*    !*margin-left: calc(55px / 4);*!*/
/*    !*margin-right: calc(55px / 2);*!*/
/*    margin-right: 0;*/
/*}*/

.item:nth-child(3n+1) {
    margin-left: 0;
}

/* Оставляем нулевой отступ для последнего элемента в каждой строке */
.item:nth-child(3n) {
    margin-right: 0;
}

.duty_deadline {
    color: #adacac;
    margin-left: 40px;
    font-size: 14px;
    margin-bottom: 45px;
}

.duty_desc_block {
    display: flex;
    margin-left: 8px;
    margin-top: 13px;
    padding: 2px;
}

.duty_desc_icon {
    width: 28px;
    height: 28px;
    margin: auto 15px auto 25px;
    opacity: 0.5

}

.duty_desc_text {
    font-size: 14px;
    color: #adacac;
    margin-top: 4px;
}

.duty_loader {
    text-align: center;
    height: 18px;
    width: 18px;
    opacity: 0.7;
    margin-left: 292px;
    margin-top: 155px;
    border-width: 3.5px;
}

.duty_file_icon {
    border-radius: 10px;
    margin: 15px auto 0px auto;
    width: 85px;
    height: 85px;
    background-color: #474747;
}

.duty_file_signature {
    padding-left: 23px;
    width: 120px;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}