.config_main_block {
    border-radius: 23px;
    background-color: #121212;
    border-color: transparent;
    border-style: solid;
    font-family: 'M_Ying_Hei';
    min-width: 560px;
    max-width: 560px;
    min-height: 500px;
    height: fit-content;
    text-align: left;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    /* margin-top: 60px; */
    margin-bottom: -30px;
    padding-bottom: 20px;
}

.config_nav {
    display: flex;
}

.config_save {
    color: lightgray;
    font-size: 12px;
    user-select: none;
    /*margin: auto;*/
    border: 2px solid transparent;
    border-radius: 7px;
    padding: 5px 10px;
    display: flex;
    margin: auto 0px auto 0px;
    cursor: pointer;
    margin-top: 46px;
}

@media (pointer: fine) {
    .config_save:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.1s ease-in-out;
    }
}

.config_save:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.config_block {
    border-radius: 10px;
    background-color: #171717;
    border-color: transparent;
    border-style: solid;
    font-family: 'M_Ying_Hei';
    height: fit-content;
    text-align: left;

    margin-left: 5px;
    margin-right: 5px;
}

.config_title {
    color: white;
    font-size: 28px;
    /*margin: 40px 30px 40px;*/
    text-align: left;
    user-select: none;
    cursor: default;
    /*margin-left: 50px;*/
    /*margin: 40px 0 30px 40px;*/
    margin: 38px 30px 40px 28px;
}

.config_title:first-child {
    width: 280px;
}

.config_local_title {
    color: #ABABAB;
    font-size: 21px;
    margin: 20px 30px 20px;
    text-align: left;
    user-select: none;
    cursor: default;
}

.config_list {
    background-color: #171717;
    color: #ABABAB;
    font-size: 20px;
    line-height: 1.9;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    vertical-align: center;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*margin-bottom: 20px;*/
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}


.config_item {
    background-color: #262626;
    /* border: 7px solid transparent; */
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 10px;
    text-align: left;
    padding: 7px 17px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    vertical-align: center;
    width: 100%;
    /* border-left: 2px solid rgb(208, 255, 0); */
    border-left: 2px solid rgba(205, 168, 250, 0.728);
}

.config_rename {
    font-size: 17px;
    color: #ffffff;
    background-color: #262626;
    border: 0px solid transparent;
    /* border-radius: 7px; */
    text-align: left;


    /*padding: 0 10px;*/
    margin-bottom: 2px;

    padding: 0;
    /* margin: 0; */
    -webkit-user-select: none;
    user-select: none;
    vertical-align: center;
    width: 100%;
    line-height: normal;
}

.config_rename:focus {
    outline: none;
}

.config_rename:focus {
    outline: none;
    /* margin-bottom: 4px; */
}

.hr {
    margin: 20px 35px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1.5px solid white;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.config_spinner_end {
    opacity: 1пше;
    text-align: center;
    height: 24px;
    width: 24px;
    border-width: 3px;
    color: green;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.7s;
    /* margin-top: 51px; */
    position: relative;
    bottom: 24px;
    margin-left: calc(93% - 3px);
    /* margin-bottom: 30px; */
}

.config_spinner {
    text-align: left;
    height: 18px;
    width: 18px;
    opacity: 0.7;
    margin-left: 93%;
    /* margin-bottom: 30px; */
    border-width: 3px;
    /* margin-top: 54px; */
    z-index: 10;
    position: relative;
    bottom: 21px;
}

.config_main_spinner {
    text-align: center;
    height: 18px;
    width: 18px;
    opacity: 0.6;
    margin-left: calc(50% - 6.5px);
    margin-top: 130px;
    border-width: 3.5px;
    z-index: 10;

}

@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
        url('M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}

.config_in_item {
    display: flex;
    position: relative;
}



.config_in_item :first-child {
    width: 100%;
    margin-top: 2px;
}

.config_icon_in_item {
    opacity: 0.5;
    text-align: center;
    height: 35px;
    width: 35px;
    margin: auto 0px auto 10px;
    /* top | right | bottom | left */
    border-width: 3px;
    position: relative;
    flex: auto auto auto;
    border: 4px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

@media (pointer: fine) {
    .config_icon_in_item:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color 0.1s ease-in-out;
    }
}

.config_icon_in_item.edit_active {
    /* background-color: rgba(255, 255, 255, 0.2); */
    opacity: 1;
    /* transition: all 0.2s ease-in-out; */
}

.config_icon_in_item:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.config_in_item_save_button {
    position: fixed;
    bottom: 0px;
    height: 70px;
    margin-left: -14px;
    background-color: rgba(37, 37, 37, 0.707);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 560px;
    /* border-radius: 20px; */
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    z-index: 2;
    color: #ffffff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.81);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    animation: openUp 0.7s cubic-bezier(0.88, 0.02, 0.22, 0.98);
}

.block_header {
    display: flex;
}

.to_courses {
    margin: auto;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
}



@keyframes openUp {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media (pointer: fine) {
    .config_in_item_save_button:hover {
        background-color: rgba(46, 46, 46, 0.707);
    }
}

.config_in_item_save_button:active {
    background-color: rgba(51, 51, 51, 0.707);
}

.config_in_item_save_text {
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 18px;
    user-select: none;
}
.config_back {
    width: 19px;
    height: 19px;
    margin: auto 0px auto 23px;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .config_main_block {
        min-width: 560px;
        max-width: 560px;
        margin: 0px auto;
        margin-bottom: -30px;
    }
    .block_header{ 
        width: 100%;
        border-radius: 20px;
        transition: all 0.1s ease-in-out;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .config_title {
        margin: 20px 10px 20px 18px;
        /* padding-bottom: 3px; */
    }
    .block_header:active {
        background-color: rgba(51, 51, 51, 0.707);
    }
}

@media (max-width: 600px) {
    .config_main_block {
        min-width: 92vw;
        width: 92vw;
        margin-bottom: -45px;
    }

    .config_in_item_save_button {
        margin-left: 0px;
        left: 0;
        min-width: 100vw;
        width: 100vw;
        height: 62px;
    }
    .config_back {
        margin: auto 0px auto 16px;
    }
    .config_title {
        font-size: 22px;
        margin: 20px 10px 20px 13px;
    }
    .config_block {
        margin: 0px 0px;
    }
    .config_local_title {
        font-size: 18px;
        margin: 20px 20px 20px;
    }
    .config_item {
        font-size: 15px;
        /* padding-top: 2px; */
    }
    .config_list {
        margin: 10px;
    }
    .config_in_item :first-child {
        padding-top: 2px;
    }
    .config_rename {
        font-size: 15px;
        padding-bottom: 2px;
    }
    .config_main_spinner {
        margin-top: 60px;
    }
    .config_spinner {
        margin-left: 89%;
    }
    .config_spinner_end {
        margin-left: calc(89% - 3px);
    }

}