.navbar {
    background-color: transparent;
    font-family: "M_Ying_Hei";
    display: flex;
    user-select: none;
}

.navbar_brand {
    display: flex;
    margin-bottom: 40px;
    cursor: pointer;
}

.navbar_space {
    margin-left: 23px;
    font-size: 50px;
    margin-top: 40px;
    /*margin-bottom: 40px;*/
}

.navbar_logo {
    width: 50px;
    margin-top: 50px;
    margin-left: -10px;
}

.navbar_info_block {
    color: white;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;

}

.navbar_student {
    text-align: center;
    margin: auto;
    font-size: 16px;
}

.navbar_human_logo {
    width: 32px;
    margin-left: 10px;
}

@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
    url('M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}