.navbar {
    background-color: transparent;
    font-family: "M_Ying_Hei";
    display: flex;
    user-select: none;
    max-width: 1300px;
    justify-content: space-between;
    padding: 0px 7px;
    margin: auto;
    z-index: 1;
}

.navbar_brand {
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    cursor: pointer;
}

.navbar_space {
    margin-left: 23px;
    font-size: 50px;
}

.navbar_logo {
    width: 48px;
    margin-top: 3px;
    margin-left: -10px;
}

.navbar_info_block {
    color: white;
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
}

.navbar_student {
    /*display: none;*/
    text-align: center;
    margin: auto;
    font-size: 16px;
}

.navbar_human_logo {
    width: 36px;
    margin-left: 10px;
}

@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
    url('M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}

@media (min-width: 1200px) {
    .navbar>.container {
        max-width: 1320px !important;
    }
}



@media (max-width: 1320px) {
    .navbar_brand {
        margin-left: 30px;
    }

    .navbar_info_block {
        margin-right: 30px;
    }
}

@media (max-width: 640px) {
    .navbar_brand {
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .navbar_logo {
        display: none;
    }

    .navbar_space {
        font-size: 42px;
    }
}