.block {
    margin-left: 10px;
    width: 147px;
    height: 35px;
    background: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 21px;

    font-size: 14px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.text {
        margin-right: 10px;
        margin-left: 10px;
}

.block:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.1s ease-in-out;
}