.duty_attach_main_block {

}

.duty_attach_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;

    min-width: 560px;
    max-width: 560px;
    max-height: 500px;
}

.duty_attach_file {
    color: #c4c4c4;
    border: 1px solid #ABABAB;
    border-radius: 6px;
}

.duty_attach_add_file_button {
    color: #c4c4c4;
    border: 1px solid #ABABAB;
    border-radius: 6px;
}

.duty_attach_add_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}