.duty_attach_main_block {

}

.duty_attach_file {
    color: #c4c4c4;
    border: 1px solid #ABABAB;
    border-radius: 6px;
}

.duty_attach_add_file_button {
    color: #c4c4c4;
    border: 1px solid #ABABAB;
    border-radius: 6px;
}

.duty_attach_add_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}



@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
    url('M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}
