.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.login_block {
    display: flex;
    flex-direction: column;



    border-radius: 23px;
    background-color: #121212;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 560px;

    line-height: 1.6;
    font-size: 20px;
    height: fit-content;
}

.login_title {
    color: white;
    font-size: 28px;
    font-family: 'M_Ying_Hei', Arial;
    margin: 40px 40px 20px;
}

.tip {
    margin: 5px 40px;
    color: #757575;
    font-size: 16px;
    font-family: 'M_Ying_Hei', Arial;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}


.input_group {
    display: flex;
    flex-direction: column;
    margin: 60px 40px 35px;
    font-family: 'M_Ying_Hei', Arial;
    color: white;
    /*background-color: ;*/
}


.input {
    outline: none;
    line-height: 1.33;
    -webkit-appearance: none;
    background-color: transparent;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #6e6e6e;
    /*border-bottom: 1px;*/
}
.input::placeholder {
    color: dimgray;
    border-color: rgba(248,248,255, 0.2);
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.input:focus {
    background-color: transparent;
    color: white;
    border-color: rgba(248,248,255, 0.4);
    outline: 0 none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(248,248,255, 0.4);
}

.spinner {
    text-align: center;
}

.input.bad {
    border-color: rgba(255,76,91, 0.4);
}


.password {
    margin-top: 20px;
}

.button {
    margin: 0px 40px 35px;
    background-color: black;
    font-family: 'M_Ying_Hei', Arial;
    border-color: transparent;
    font-size: 14px;
    line-height: 1.55;
    height: 45px;
}




@font-face {
    font-family: 'M_Ying_Hei';
    src: local('Space/M_Ying_Hei'),
    url('../Space/M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}
