html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow-x: hidden;
    /*display: table-cell;*/
}

body, html {
    background-color: #000;
}

.mySpinner {

    position: absolute;
    left: calc(50vw - 13px);
    top: calc(50vh - 30px);
    width: 30px;
    height: 30px;
    z-index: 100000000;
}

@font-face {
    font-family: 'M_Ying_Hei';
    src: local('M_Ying_Hei'),
    url('resources/M_Ying_Hei.woff2') format('truetype');
    font-weight: bold;
}

.font_M_Ying_Hei {
    font-family: 'M_Ying_Hei';
}

*::-webkit-scrollbar {
    overflow: overlay;
    height: 12px;
    width: 8px;

}
*::-webkit-scrollbar-track {
    overflow: overlay;
    background: rgba(0, 0, 0);

}
*::-webkit-scrollbar-thumb {
    overflow: overlay;
    background-color: #393E46;
    border-radius: 5px;
    border: 0px solid black;
}
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.sky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    animation: breathe 3s ease-in-out;
    opacity: 0.7;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
}

.preloader_logo {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 43px);
    width: 90px;
    height: 90px;
    z-index: 100001;
}
.preloader_logo_back{
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 63px);
    width: 130px;
    height: 130px;
    z-index: 100000;
    filter: blur(30px);
    -webkit-filter:blur(30px);
    animation-delay: 2s;
    opacity: 1;
    animation: flick 2s cubic-bezier(1, -0.01, 0.58, 1);
}

@keyframes flick {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

@keyframes breathe {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 70%;
    }

}
  

/* .loaded_hiding .preloader {
    
    opacity: 0;
  }

  .loaded .preloader {
    display: none;
  } */

/* @media (max-width: 560px) {
    .d-flex .justify-content-center .align-content-center {
        margin-bottom: 0px;
    }
} */