@keyframes spawn {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}


.tasks_block {

    /*animation: spawn 1s infinite cubic-bezier(0.58, 0, 0, 1.04);*/
    /*animation-iteration-count: 1;*/
    /*will-change: opacity;*/

    border-radius: 23px;
    background-color: #121212;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    min-width: 560px;
    min-height: 400px;
    font-family: 'M_Ying_Hei';
    user-select: none;
    -webkit-user-select: none;
    /*margin-bottom: 90px;*/
}

.tasks_block_cover {
    animation: spawn 0.3s ease-in-out;
}

@keyframes spawn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.title {
    color: white;
    font-size: 28px;
    margin: 40px 40px 40px;
    text-align: left;
    line-height: 1.4;
    cursor: default;
}

.course_not_found {
    color: darkgray;
    text-align: center;
    margin-top: 155px;
}

.tasks_not_found {
    color: darkgray;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 20px;
}

.task_name {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.status_name {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task_list {
    /*text-indent: 20px;*/
    margin: 10px 30px 30px;
}

.task {
    font-family: 'M_Ying_Hei';
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.task:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.07);
}

.task:active {
    background-color: rgba(255, 255, 255, 0.12);
}

.hr {
    margin: 20px 10px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1.5px solid white;
}

.materials_breaker {
    width: calc(100% + 6px);
    margin-left: -4px;
    height: 10px;
    background-color: #000000;
}

.open_materials {
    cursor: pointer;
    color: #fff;
}


