@keyframes spawn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.tasks_block {
    border-radius: 23px;
    background-color: #121212;
    background-position: center center;
    /* border-color: transparent;
    border-style: solid; */
    min-width: 560px;
    /* min-height: 200px; */
    font-family: 'M_Ying_Hei';
    user-select: none;
    -webkit-user-select: none;
    height: fit-content;
}

.spinner {
    text-align: center;
    height: 18px;
    width: 18px;
    opacity: 0.7;
    /* margin-left: 265px;
    margin-top: 235px; */
    border-width: 3.5px;
    /* margin: auto; */
    margin-left: calc(50% - 9px);
    margin-top: calc(50% - 9px);
    margin-bottom: calc(50% - 9px);
    /*margin: 30% calc(50% - 9px) 20% calc(50% - 9px);*/
}

.tasks_block_cover {
    animation: spawn 0.3s ease-in-out;
}

@keyframes spawn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
    color: white;
    font-size: 28px;
    margin: 45px 40px 40px;
    text-align: left;
    line-height: 1.4;
    cursor: default;
}

.course_not_found {
    color: darkgray;
    text-align: center;
    margin-top: calc(25px);
    margin-bottom: 25px;
}

.tasks_not_found {
    color: darkgray;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 20px;
    cursor: default;
    font-size: 17px;
}

.task_name {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.status_name {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task_list {
    /*text-indent: 20px;*/
    margin: 10px 30px 40px;
}

.task {
    font-family: 'M_Ying_Hei';
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border-radius: 10px;
}

@media (pointer: fine) {
    .task:hover {
        background-color: rgba(255, 255, 255, 0.07);
    }
}

.task:active {
    background-color: rgba(255, 255, 255, 0.12);
}

.hr {
    margin: 20px 10px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1.5px solid white;
    opacity: 0.3;
    border-radius: 50%;
}

.materials_breaker {
    width: 100%;
    /* margin-left: -0.5px; */
    height: 10px;
    background-color: #0e0e0e;
}

.open_materials {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    padding-bottom: 12px;
    bottom: 0px;
    border: 1px solid transparent;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    transition: all 0.1s ease-in-out;
}

@media (pointer: fine) {
    .open_materials:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.open_materials:active {
    background-color: rgba(255, 255, 255, 0.1);
}


.block_header {
    display: flex;
}

.to_courses {
    margin: auto;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

.course_back {
    width: 19px;
    height: 19px;
    margin: auto 0px auto 23px;
    cursor: pointer;
}


@media (max-width: 1300px) {
    .block_header {
        display: flex;
        cursor: pointer;
        border-radius: 17px;
        margin: 20px;
        transition: all 0.1s ease-in-out;
    }

    .block_header:active {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .title {
        margin: 20px 10px 20px 18px;
        padding-bottom: 3px;
    }
}

@media (max-width: 600px) {
    .tasks_block {
        position: relative;
        width: 92vw;
        min-width: 92vw;
        padding: 0;
        margin: 0px auto;
    }

    .block_header {
        margin: 12px;
    }

    .course_back {
        margin: auto 0px auto 16px;
    }

    .title {
        font-size: 22px;
        margin: 22px 10px 20px 13px;
    }

    .task_name {
        font-size: 15px;
    }

    .status_name {
        font-size: 15px;
    }

    .open_materials {
        font-size: 15px;
    }

    .task_list {
        margin: 10px 20px 30px;
    }
}