.deadline_block {
    border-radius: 23px;
    background-color: #121212;
    border-color: transparent;
    border-style: solid;
    font-family: 'M_Ying_Hei';
    min-width: 320px;
    margin-left: 60px;
    height: fit-content;
    text-align: left;
    user-select: none;
    min-height: 250px;
}

.title {
    color: white;
    font-size: 28px;
    margin: 40px 32.5px 50px;
    text-align: left;
    line-height: 1.4;
}

.deadline_list {
}

.deadline_item {
    font-family: 'M_Ying_Hei';
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 2px solid transparent;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.deadline_item:hover {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.15s ease-in-out;
}

.dl_item_course_name {
    font-size:  16px;
    color: #ffffff;
    font-family: Arial;
    line-height: 1.55;
    font-weight: 600;
}

.dl_item_task_name {
    margin-top: 15px;
    color: #c4c4c4;
}




.dl_item_timer {
    margin-top: 15px;
    color: #e07e7e;
}

.hr {
    margin: 0 30px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1.5px solid white;
}

