.arrow-animation-enter {
    rotate: 0deg;
}

.arrow-animation-enter-active {
    rotate: -180deg;
    transition: all 1s ease-in-out;
}

.arrow-animation-enter-done {
    rotate: -180deg;
}

.arrow-animation-exit {
    rotate: -180deg;
    transition: all 1s ease-in-out;
}

.arrow-animation-exit-active {
    rotate: 0deg;
}

.arrow-animation-exit-done {
    rotate: 0deg;
}