.my-node-enter {
    opacity: 0;
    transform: scale(0, 0);
}

.my-node-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 1s ease-in-out;
}

.my-node-enter-done {
    opacity: 1;
    transform: scale(1, 1);
}

.my-node-exit {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 1s ease-in-out;
}

.my-node-exit-active {
    opacity: 0;
    transform: scale(0, 0);
}

.my-node-exit-done {
    display: none;
}